<h2 class="text-center">Our Products</h2>

<form class="form-inline my-2 my-lg-0">
    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
    <button class="btn btn-outline-info my-2 my-sm-0" type="submit">Search</button>
</form>

<div class="row row-cols-1 row-cols-md-3 allProducts">

  <div class="col-md-4">
    <div class="list-group">
      <span  class="list-group-item list-group-item-action active">
        our Categories
      </span>
      <a [routerLink]="cat.categoryID" class="list-group-item list-group-item-action" *ngFor="let cat of Categories">{{cat.name}}</a>
     </div>
  </div>
  
  <app-product *ngFor="let product of Products" [product]="product"></app-product>
</div>