<div class="super_container">
	<div class="content_container">
		<div class="main_content_outer d-flex flex-xl-row flex-column align-items-start justify-content-start">

			<!-- General Information -->
			<div class="general_info d-flex flex-xl-column flex-md-row flex-column">
				<div>
					<div class="general_info_image">
						<img src="assets/img/default.png" class="img-responsive">
					</div>
				</div>
				<div class="general_info_content" *ngIf="isDataLoaded">
					<p>{{currentUser.userName}}</p>
					<p>{{currentUser.email}}</p>
					<p>{{currentUser.phoneNumber}}</p>
					<!-- <button class="btn btn-danger" routerLink="editProfile">Edit Profile</button> -->
					<input type="button" value="Edit Profile" (click)="GoEdit()" class="btn btn-danger">
				</div>
			</div>

			<!-- Main Content -->

			<div class="main_content">
				<h1>Your Orders</h1>

				<div class="row row-cols-1 row-cols-md-3">
					<div class="col mb-4">
						<div class="card">

							<div class="card-body">
								<h5 class="card-title">Rejected Orders</h5>
								<table class="table table-hover col-8">
									<thead>
										<tr>
											<th>Product</th>
											<th>Quantity</th>
											<th>TotalPrice</th>
										</tr>
									</thead>
									<tbody>
										<tr *ngFor="let order of RejectedOrders">
											<td>
												<div *ngFor="let orderD of order.orderDetails">{{orderD.product.title}}
												</div>
											</td>
											<td>
												<div *ngFor="let orderD of order.orderDetails">{{orderD.quantity}}</div>
											</td>
											<td>{{order.totalPrice}}</td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
					</div>

					<div class="col mb-4">
						<div class="card">

							<div class="card-body">
								<h5 class="card-title">Pending Orders</h5>
								<table class="table table-hover col-8">
									<thead>
										<tr>
											<th>Product</th>
											<th>Quantity</th>
											<th>TotalPrice</th>
											<th></th>
										</tr>
									</thead>
									<tbody>
										<tr *ngFor="let order of PendingOrders">
											<div *ngIf></div>
											<td>
												<div *ngFor="let orderD of order.orderDetails">{{orderD.product.title}}
												</div>
											</td>
											<td>
												<div *ngFor="let orderD of order.orderDetails">{{orderD.quantity}}</div>
											</td>
											<td>{{order.totalPrice}}</td>
											<td><button class="btn btn-warning"
													(click)="CancelOrder(order.orderID)">Cancel</button></td>
										</tr>
									</tbody>
								</table>
								<!-- <button class="btn btn-warning">Pending</button> -->
							</div>
						</div>
					</div>
					<div class="col mb-4">
						<div class="card">
							<div class="card-body">
								<h5 class="card-title">Accepted Orders</h5>
								<table class="table table-hover col-8">
									<thead>
										<tr>
											<th>Product</th>
											<th>Quantity</th>
											<th>TotalPrice</th>
										</tr>
									</thead>
									<tbody>
										<tr *ngFor="let order of AcceptedOrders">
											<div *ngIf></div>
											<td>
												<div *ngFor="let orderD of order.orderDetails">{{orderD.product.title}}
												</div>
											</td>
											<td>
												<div *ngFor="let orderD of order.orderDetails">{{orderD.quantity}}</div>
											</td>
											<td>{{order.totalPrice}}</td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
					</div>
				</div>
				<div class="row row-cols-1 row-cols-md-3">

				</div>

			</div>
		</div>


	</div>

</div>



<div>
	<table class="table table-hover col-8">
		<thead>
			<tr>
				<th>Username</th>
				<th>Product</th>
				<th>date</th>
				<th>TotalPrice</th>
				<th>State</th>
			</tr>
		</thead>
		<tbody>
			<tr *ngFor="let order of AllOrders">
				<td>{{order.orderOwner.userName}}</td>
				<td>
					<div *ngFor="let orderD of order.orderDetails">{{orderD.product.title}}
					</div>
				</td>
				<td>
					{{order.orderDate}}
				</td>
				<td>{{order.totalPrice}}</td>
				<td *ngIf="order.state === 'accepted'">Accepted</td>
				<td *ngIf="order.state === 'rejected'">Rejected</td>
				<td *ngIf="order.state === 'Pending'">
					<select (change)="onChange($event.target.value)">
						<option value="Pending" selected hidden>Pending</option>
						<option value="accepted">Accepted</option>
						<option value="rejected">Rejected</option>
					</select>
				</td>
			</tr>
		</tbody>
	</table>
</div>