
<div class="super_container">
	<div class="content_container">
		<div class="main_content_outer d-flex flex-xl-row flex-column align-items-start justify-content-start">

			<!-- General Information -->
			<div class="general_info d-flex flex-xl-column flex-md-row flex-column">
				<div>
					<div class="general_info_image">
						<img src="assets/img/default.png" class="img-responsive">
					</div>
				</div>
				<div class="general_info_content">
					<p>Sara Atef</p>
					<p>sara.atef001@gmail.com</p>
					<p>0123456789</p>
					<!-- <button class="btn btn-danger" routerLink="editProfile">Edit Profile</button> -->
					<input type="button" value="Edit Profile" (click)="GoEdit()" class="btn btn-danger">
				</div>
			</div>

			<!-- Main Content -->

			<div class="main_content">
				<h1>Your Orders</h1>

				<div class="row row-cols-1 row-cols-md-3">
					<div class="col mb-4">
					  <div class="card">
						
						<div class="card-body">
						  <h5 class="card-title">Card title</h5>
						  <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
						</div>
					  </div>
					</div>
				
					<div class="col mb-4">
					  <div class="card">
						
						<div class="card-body">
						  <h5 class="card-title">Card title</h5>
						  <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
						</div>
					  </div>
					</div>
					<div class="col mb-4">
						<div class="card">
						  <div class="card-body">
							<h5 class="card-title">Card title</h5>
							<p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
						  </div>
						</div>
					  </div>
				</div>

			</div>
		</div>


	</div>

</div>
